/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.payment-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}

.payment-header {
    text-align: center;
    margin-bottom: 30px;
}

.payment-header h2 {
    font-size: 2rem;
    color: #2b3d6d;
}

.payment-header p {
    font-size: 1rem;
    color: #7d8b9b;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.total-amount-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total-amount-container span {
    font-size: 1.2rem;
}

.total-amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2b3d6d;
}

h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: #2b3d6d;
}

button.pay-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #2b3d6d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button.pay-button:hover {
    background-color: #1d2a47;
}

button.pay-button:active {
    background-color: #15213e;
}

.powered-by {
    text-align: center;
    font-size: 0.8rem;
    color: #7d8b9b;
    margin-top: 30px;
}

/* Card Type Section Styling */
.form-group label {
    font-weight: bold;
}

.form-group .card-type-container {
    display: flex;
    gap: 20px; /* Space between radio buttons */
    align-items: center;
}

.form-group .card-type-container input[type="radio"] {
    transform: scale(1.2); /* Slightly larger radio button */
    margin-right: 10px;
}

.form-group .card-type-container label {
    font-size: 1rem;
    color: #333;
}

.form-group .card-type-container label input[type="radio"]:checked + span {
    font-weight: bold;
}

